body {
    background-color: #cfcece;
}

.side-bar {
    background-color: #f8f9fa;
    padding: 20px;
}

.reboot-btn {
    background-color: #dc3545;
    color: white;
}

.sidebar-right {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
}

.progress-bar-custom {
    background-color: #ffc107;
    height: 20px;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.progress {
    width: 60%; /* Réduire la longueur de la barre de progression */
    margin: 0 10px; /* Espacement pour les flèches */
}
.progress-control button {
    border: none;
    background: none;
    padding: 0 10px;
    cursor: pointer;
    font-size: 2rem;
    color: black;
}
.progress-control button:hover {
    color: #007bff;
}

h1{
    display: flex;
    justify-content: center;
    padding: 5px;
}

li{
    list-style-type: none;
}

#ava{
    background-color: rgb(243, 239, 255);
    padding: 15px;
}

#baba:hover{
    background-color: rgb(56, 108, 252);
}

#fizz{
    margin-left: 170px;
}

#decrease{
    background-image: url(fleche1.png);
}

#increase{
    background-image: url(fleche2.png);
}

#Install{
    margin-left: 690px;
}

#citation{
    padding: 20px;
    margin: 15px;
    font-size: medium;
    line-height: 25px;
}

@media screen and (max-width: 1200px) {
    body {
        background-color: #cfcece;
    }
    
    .side-bar {
        background-color: #f8f9fa;
        padding: 20px;
    }
    
    .reboot-btn {
        background-color: #dc3545;
        color: white;
    }
    
    .sidebar-right {
        background-color: #f8f9fa;
        padding: 10px;
        border-radius: 5px;
    }
    
    .progress-bar-custom {
        background-color: #ffc107;
        height: 20px;
    }
    
    h1{
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    
    li{
        list-style-type: none;
    }
    
    #ava{
        background-color: rgb(243, 239, 255);
        padding: 0px;
    }
    
    #baba:hover{
        background-color: rgb(56, 108, 252);
    }
    
    #fizz{
        margin-left: 0px;
    }
    #Install{
        margin-left: 0px;
    }
  }
